*.pyc
*.so
*.egg-info
*.whl
*.lock
/dist/
.ipynb_checkpoints
.DS_Store
.mypy_cache/
.pytype/
.idea
.vscode
.envrc
.env
.ui

# proto compile output
**/*_pb2.py
**/*_pb2_grpc.py

# virtualenv/venv directories
/.*/
/tests/
/data/
/venv/
/bin/
/include/
/lib/
/share/

# Documentation
/docs/_build/
/docs/_collections/
/docs/jupyter_execute
/docs/sg_execution_times.rst
/docs/generated
build/*
