*.pyc
*.so
*.egg-info
*.whl
*.lock
/dist/
.ipynb_checkpoints
.DS_Store
.mypy_cache/
.pytype/
__pycache__/
.idea
.vscode
.envrc
.env
.ui

# tunix/experimental/common/
# tunix/experimental/metrics/
# tunix/experimental/orchestrator/
# tunix/experimental/rollout/
# tunix/experimental/train/
# tunix/experimental/worker/
artifacts/

# proto compile output
# **/*_pb2.py
# **/*_pb2_grpc.py

# virtualenv/venv directories
/.*/
/tests/
/data/
/venv/
/bin/
/include/
/lib/
/share/

# Documentation
/docs/_build/
/docs/_collections/
/docs/jupyter_execute
/docs/sg_execution_times.rst
/docs/generated
build/*
