/v1_hp_postfix_exact_image_20260824/*.log -diff
/v1_hp_postfix_exact_image_20260824_r2/*.log -diff
/v1_hp_postfix_exact_image_20260824_r3/*.log -diff
/v1_hp_three_full_attempt2_20260824/*.log -diff
/v1_hp_attempt2_fix_exact_image_20260824_r1/*.log -diff
/v1_hp_attempt2_fix_exact_image_20260824_r2/*.log -diff
/v1_hp_attempt2_fix_exact_image_20260824_r3/*.log -diff
/v1_hp_attempt2_fix_exact_image_20260824_r4/*.log -diff
/v1_hp_attempt2_fix_exact_image_20260824_r5/*.log -diff
/v1_hp_three_full_attempt3_20260824/*.log -diff
v1_hp_three_full_attempt4_20260824/*.log -diff
v1_hp_attempt4_fix_exact_image_20260824_r1/*.log -diff
