# TODO(maxtext-dev): Update the commits after all code changes land.
maxtext @ git+https://github.com/google/maxtext.git@7841736ba741a385f042677ddb2b953113b757ef
maxtext-vllm-adapter @ git+https://github.com/google/maxtext.git@7841736ba741a385f042677ddb2b953113b757ef#subdirectory=src/maxtext/integration/vllm
aqtp
cheroot
cloud-accelerator-diagnostics
cloud-tpu-diagnostics
drjax>=0.1.4
einshape
google-cloud-mldiagnostics>=0.5.10
google-cloud-monitoring
ml-goodput-measurement
tokamax>=0.0.4
typeguard
xprof
