# TODO(maxtext-dev): Update the commits after all code changes land.
maxtext @ git+https://github.com/google/maxtext.git@8db3416b4aeea33f4d2ca943a60ee4a84d16d769
maxtext-vllm-adapter @ git+https://github.com/google/maxtext.git@8db3416b4aeea33f4d2ca943a60ee4a84d16d769#subdirectory=src/maxtext/integration/vllm
aqtp
cheroot
cloud-accelerator-diagnostics
cloud-tpu-diagnostics
drjax>=0.1.4
einshape
google-cloud-mldiagnostics>=0.5.10
google-cloud-monitoring
ml-goodput-measurement
tokamax>=0.0.4
typeguard
xprof
