# --extra-index-url https://us-python.pkg.dev/ml-oss-artifacts-published/jax/simple/
# --find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
# --pre

tpu-inference @ git+https://github.com/vllm-project/tpu-inference.git@f1cc95503b9312e7504f6db9736e8ebc6583eb7c
