# --extra-index-url https://us-python.pkg.dev/ml-oss-artifacts-published/jax/simple/
# --find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
# --pre

tpu-inference @ git+https://github.com/vllm-project/tpu-inference.git@8d30921e602b01652ebe204c2d328251bfa2aff5
maxtext @ git+https://github.com/AI-Hypercomputer/maxtext.git@a5f383681ea4f1d190b627696200f72a50c4d27d
maxtext-vllm-adapter @ git+https://github.com/AI-Hypercomputer/maxtext.git@a5f383681ea4f1d190b627696200f72a50c4d27d#subdirectory=src/maxtext/integration/vllm

