name: Auto-assign issues and PRs
on:
  issues:
    types: [opened, reopened]
  pull_request:
    types: [opened, reopened]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run Assignment Script
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./\.github/workflows/issue-auto-assign.js')
            script({github, context})
